body {
  background-color: #353536;
}

nav {
  background-color: #353536;
}
nav ul {
  font-size: 20px;
  margin: 0;
}
nav ul li {
  color: gray;
  text-decoration: none;
  display: inline-block;
  margin: 15px;
  position: relative;
  left: 900px;
}
nav .logo img {
  width: 70px;
  position: absolute;
}
nav h1 {
  color: white;
  position: absolute;
  margin-left: 80px;
  margin-top: 13px;
}

.li2 {
  border-width: 2px;
  border-style: ridge;
  border-color: white;
  padding: 10px;
  color: white;
}

.triangle1 img {
  margin-left: 600px;
  margin-top: 30px;
  width: 160px;
  position: absolute;
}

.tel img {
  position: absolute;
  width: 800px;
  margin-top: 50px;
  margin-left: 700px;
}

h2 {
  color: white;
}

p {
  color: gray;
}

.showcase {
  margin-left: 200px;
  margin-top: 200px;
  position: absolute;
}
.showcase h2 {
  font-size: 30px;
  margin-left: 60px;
}
.showcase p {
  font-size: 14px;
}

.btn2 p {
  border-width: 2px;
  border-style: ridge;
  border-color: white;
  color: white;
  padding: 12px;
  position: absolute;
}

.btn1 {
  width: 150px;
  height: 50px;
  background: linear-gradient(to bottom right, #46C2FF, #BD11FA);
  border-radius: 7px;
  margin-left: 250px;
  margin-top: 360px;
}

.btn1 p {
  color: white;
  text-align: center;
  padding: 15px;
}

.btn2 {
  margin-left: 500px;
  margin-top: 350px;
}

.triangle2 img {
  margin-top: 150px;
  width: 200px;
  position: absolute;
}

.partenered {
  position: absolute;
  margin-top: 300px;
  margin-left: 900px;
}

.aws, .itunes, .converse, .disney, .nike, .inkyy, .microsoft, .puma {
  text-align: center;
  width: 210px;
  height: 90px;
  background-color: #303030;
  border-radius: 7%;
  position: absolute;
  margin-top: 240px;
  margin-left: 230px;
  box-shadow: 10px 5px 5px black;
  padding: 15px;
}

.puma {
  margin-left: 500px;
  margin-top: 270px;
  height: 80px;
}

.microsoft {
  margin-left: 4px;
  margin-top: 400px;
  height: 70px;
  padding: 10px;
}

.inkyy {
  margin-top: 380px;
  margin-left: 260px;
}

.nike {
  margin-top: 400px;
  margin-left: 530px;
  height: 70px;
}

.disney {
  margin-left: 40px;
  margin-top: 520px;
  height: 80px;
}

.converse {
  margin-left: 300px;
  margin-top: 520px;
  height: 100px;
}

.itunes {
  margin-left: 570px;
  margin-top: 520px;
  height: 70px;
}

.rond {
  margin-top: 500px;
  text-align: right;
}

.box2 {
  width: 250px;
  height: 300px;
  box-shadow: 10px 4px 4px black;
  background-color: #303030;
  text-align: center;
  margin-top: -100px;
  margin-left: 500px;
  position: absolute;
}

.box3 {
  width: 250px;
  height: 300px;
  box-shadow: 10px 4px 4px black;
  background-color: #303030;
  text-align: center;
  margin-top: 50px;
  margin-left: 800px;
  position: absolute;
}

.box4 {
  width: 250px;
  height: 300px;
  box-shadow: 10px 4px 4px black;
  background-color: #303030;
  text-align: center;
  margin-top: 250px;
  margin-left: 500px;
}

.box5 {
  width: 250px;
  height: 300px;
  box-shadow: 10px 4px 4px black;
  background-color: #303030;
  text-align: center;
  margin-top: -150px;
  margin-left: 800px;
  position: absolute;
}

.box2 p {
  margin-top: 150px;
}

.box3 p {
  margin-top: 150px;
}

.box4 p {
  margin-top: 200px;
}

.box5 p {
  margin-top: 150px;
}

/*# sourceMappingURL=styl.css.map */
